# Ignore large files
*.tar
*.pyc
*.pkl
.venv/
__pycache__/

# Specific large files
profiling_env/lib/python3.10/site-packages/tangled_up_in_unicode/u13_0_0_data/__pycache__/unicode_data_to_name_start.cpython-310.pyc
profiling_env/lib/python3.10/site-packages/tangled_up_in_unicode/u13_0_0_data/__pycache__/prop_list_to_property.cpython-310.pyc
profiling_env/lib/python3.10/site-packages/tangled_up_in_unicode/u14_0_0_data/__pycache__/prop_list_to_property.cpython-310.pyc
profiling_env/lib/python3.10/site-packages/tangled_up_in_unicode/u14_0_0_data/__pycache__/unicode_data_to_name_start.cpython-310.pyc

# IDE/editor files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Log files
*.log

# System files
*.swp
*~
.DS_Store

# Environment variables and config files
.env

# Build directories
dist/
build/
*.egg-info/
